/* weather App stylesheet */

/* font family for weather icons */
@font-face {
font-family: "weather-icons";
src: url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.eot") format("eot"),
     url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.svg") format("svg"),
     url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf") format("ttf"),
     url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.woff") format("woff"),
     url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.woff2") format("woff2");
}

.container, .inputContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.buttonContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

input, button {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxShadow {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.center {
    margin: auto;
    text-align: center;
}

h1, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

.small {
    width: 40%;
    margin: 2.5%;
}

.large {
    width: 85%;
    margin: 2.5%;
}

@media screen and (min-width: 600px) {
    .inputContainer {
        max-width: 600px;
    }
    
    .buttonContainer {
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
    }
    
    input {
        width: 40%;
        margin-left: 2.4%;
        margin-right: 2.4%;
    }

    .small {
        width: 20%;
        margin: 2.5%;
        font-size: 1.25em;
        line-height: 1.5;
    }
    
    .large {
        width: 45%;
        margin: 2.5%;
        font-size: 1.25em;
        line-height: 1.5;
    }    
    
}

@media screen and (min-width: 800px) {
    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* https://www.w3schools.com/css/css3_shadows.asp */